body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #E7CD01;
}

::-webkit-scrollbar-thumb {
    background: black;
}

* { 
    box-sizing:border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #E7CD01;
    color: black;
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* border-radius: 10px 10px 0 0; */
}

.topnav {
    min-width: 30%;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    text-decoration: none;
    color: black;
}

.topnav a:hover {
    color: white;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fondo.jpg');
    background-position: center top;
    background-size: cover;
    padding-top: 10px;
}

#gallery {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fondo.jpg');
    background-position: center top;
    background-size: cover;
}

h1 {
    margin: 0;
}

.portada {
    float: left;
    color: white;
    top: 50%;
    left: 25%;
    width:25em;
    height:18em;
    margin-top: 15%; 
    margin-left: 10%;
    margin-bottom: 5%;
}

footer {
    background-color: #E7CD01;
    color: black;
    padding: 1rem 1.5rem;
    /* border-radius: 0 0 10px 10px; */
}

.centro {
    text-align: center;
}

footer a {

    text-decoration: none;
}