/* estilos.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.reproductor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    color: white;
}

.informacion-cancion {
    flex-grow: 1;
}

.titulo-cancion {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.detalles-cancion span {
    font-size: 0.9em;
    color: #aaa;
}

.controles-reproduccion button {
    background-color: #ff7700;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.controles-reproduccion button:hover {
    background-color: #ff5500;
}

.contenedor-imagen img {
    height: 80px; /* Ajusta esto según el diseño */
    width: 80px;
    border-radius: 50%; /* Crea un borde circular */
}

/* Añade media queries si necesitas hacer el diseño responsivo */