::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #E7CD01;
}

* { 
    box-sizing:border-box;
}

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
   
li {
    list-style: none;
}


/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #E7CD01;
    color: rgb(0, 0, 0);
    z-index: 20;
}
   
.nav-links a {
    color: rgb(1, 1, 1);
}


/* LOGO */

.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
   
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
   
.menu li:hover {
    background-color: #efd850;
    border-radius: 15px;
    transition: 0.3s ease;
}
   
.menu li {
    padding: 5px 14px;
}


/* DROPDOWN MENU */
   
.services {
    position: relative; 
}
   
.dropdown {
    background-color: #E7CD01;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
   
.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
   
.dropdown li:hover {
    background-color: #f1de48;
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{
    display: none;
} 
   
/*HAMBURGER MENU*/
   
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
   
/* APPLYING MEDIA QUERIES */
   
@media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#E7CD01;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
   
.menu li:hover {
    display: inline-block;
    background-color:#E7CD01;
    transition: 0.3s ease;
}
   
.menu li + li {
    margin-top: 12px;
}
   
input[type=checkbox]:checked ~ .menu{
    display: block;
}
   
.hamburger {
    display: block;
}
   
.dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
}
   
.dropdown li:hover {
    background-color: #E7CD01;
   
}

/* RESPONSIVE MENU END */

}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fondo.jpg');
    height: 100vh;
    width: auto;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portada {
    margin: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.logo2 {
    width: 30%;
}

#gallery {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fondo.jpg'); */
/*     height: 100vh; */
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: #f4f7f8;
    background-position: center top;
    background-size: cover;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.titulo {
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
}

.container {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    justify-content: left;
    font-size: 35px;
}

.bx:hover {
    transform:  scale(1.10);
}

.social a {
    color: white;
}

.card {
    width: min-content;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    transition: .4s ease;
}

.card:hover {
    transform:  scale(1.05);
    z-index: 1;
}

.card .card-img img {
    width: 100%;
}
.img1 {
    width: 250px;
    border-radius: 10px;
    /* padding-bottom: 10px; */
    margin-bottom: 15px;
}

/* ------------FOOTTER------------ */

footer {
    background-color: #E7CD01;
    color: black;
    padding: 1rem 1.5rem;
    position: relative;
    /* border-radius: 0 0 10px 10px; */
}

.centro {
    text-align: center;
}

footer a {

    text-decoration: none;
}


/* ----------RESPONSIVE----------- */

@media screen and (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    .portada {
        margin: 10%;
    }
    
}

@media screen and (max-width: 719px) {

    #home {
        width: 100%;
        height: auto;
    }

    .logo2 {
        width: 100%;
    }

    .portada {
        margin-top: 150px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    a {
        color: white;
    }
}

/* ----------GALLERY----------- */

@media (max-width: 1280px) {
    .gallery {
        height: unset;
        padding: 30px 0;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .card {
        margin: 20px;
    }
}