* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #E7CD01;
}

a {
    text-decoration: none;
}
   
li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #E7CD01;
    color: rgb(0, 0, 0);
}
   
.nav-links a {
    color: rgb(1, 1, 1);
}


/* LOGO */

.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
   
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
   
.menu li:hover {
    background-color: #efd850;
    border-radius: 15px;
    transition: 0.3s ease;
}
   
.menu li {
    padding: 5px 14px;
}


/* DROPDOWN MENU */
   
.services {
    position: relative; 
}
   
.dropdown {
    background-color: #E7CD01;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
   
.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
   
.dropdown li:hover {
    background-color: #f1de48;
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{
    display: none;
} 
   
/*HAMBURGER MENU*/
   
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
   
/* APPLYING MEDIA QUERIES */
   
@media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#E7CD01;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
   
.menu li:hover {
    display: inline-block;
    background-color:#E7CD01;
    transition: 0.3s ease;
}
   
.menu li + li {
    margin-top: 12px;
}
   
input[type=checkbox]:checked ~ .menu{
    display: block;
}
   
.hamburger {
    display: block;
}
   
.dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
}
   
.dropdown li:hover {
    background-color: #E7CD01;
   
}

}

/* RESPONSIVE MENU END */

#top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fondo.jpg');
    height: 100%;
    width: auto;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: left;
}

.brand {
    width: 35vh;
}

.home {
    margin: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
}

.home a {
    color: white;
}

.social {
    display: flex;
    justify-content: left;
    font-size: 35px;
}

/* GALLERY */

#gallery {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: #f4f7f8;
    background-position: center top;
    background-size: cover;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/* RESPONSIVE */

@media screen and (max-width: 926px) {

    #top {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fondom.jpg');
        height: 100%;
        width: auto;
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
    }

    .home {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .texto {
        text-align: justify;
    }

    .social {
        justify-content: center;
    }

    .titulo {
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        margin: 25px 0 30px 0;

    }
}