body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }  
  
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
  }
  
  .navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffcf01;
    display: flex;
    justify-content: space-around;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 15;
  }
  
  .navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
  
  .navbar a.active img {
    filter: invert(100%);
  }

  .navbar img {
    max-width: 32px;
  }
  
  .content {
    margin-bottom: 100px;
  }

  .content-contact {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .content-about {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .content-gigs {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .home {
    background-image: url('/img/background.jpg');
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .home::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 1;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    max-width: 600px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    overflow: auto;
    display: inline-block;
    color: white;
    z-index: 5;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
}

  .logo {
    order: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  

  .soundcloud {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    order: 2;
  }

  @media only screen and (max-width: 600px) {
    .content {
      margin-top: 0; /* Elimina el margin-top en la versión móvil */
    }

    .content-contact {
        margin-top: 0; /* Elimina el margin-top en la versión móvil */
      }

    .content-about {
        margin-top: 0;
    }

    .content-gigs {
        margin-top: 0;
    }

    .main {
      margin-top: 0; /* Elimina el margin-top en la versión móvil */
    }

    .flyer {
      max-width: 90%;
      height: auto;
    }
  }
  
  .box {
    display: flex;
    justify-content: center;
  }
  
  .main img {
    max-width: 300px;
  }

  .flyer {
    max-width: 50%;
    height: auto;
  }
  
  .info {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    overflow: auto;
    display: inline-block;
    background: rgba(255, 255, 255, 0.327); /* Color de fondo blanco con opacidad */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borde sutil */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .press {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .press-image {
    max-width: 90%;
    height: auto;
  }
  
  .press-links {
    margin-top: 20px;
  }
  
  .press-link {
    display: block;
    margin-bottom: 10px;
  }
  
  .main-contact {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    text-align: justify;
    overflow: auto;
    display: inline-block;
    max-width: 600px;
  }

  /* GALLERY */
  .grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
  }
  
  .grid-container div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px #ffcf01;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }
  
  .grid-container div:hover img {
    filter: grayscale(0);
  }
  
  .grid-container div:hover {
    border-color: coral;
  }
  
  .grid-container div img {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }
  
  .grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
  }
  
  @media only screen and (max-width: 600px) {
    .grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    .grid-container div {
      width: 100%;
      margin-bottom: 1.5rem;
      display: inline-block;
      border: solid 2px black;
      padding: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      transform: scale(0.8);
    }
  
    .grid-container div:hover img {
      filter: grayscale(0);
    }
  
    .grid-container div:hover {
      border-color: coral;
    }
  
    .grid-container div img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
    }
  
    .grid-container div p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }

  /* Lightbox */
  .lightbox {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
  }  

.lightbox-content {
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.lightbox-caption {
  text-align: center;
  color: white;
  padding: 10px 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  color: #ffcf01;
}

  
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .contact-info {
    margin: 10px 0;
  }
  
  .contact-info h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .contact-info p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .divider {
    border: none;
    border-top: 2px solid black;
    width: 100%;
    margin: 20px 0;
  }
  
  .contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  .contact-icons a {
    margin: 0 10px;
  }
  
  .contact-icons img {
    width: 32px;
    height: 32px;
  }
  
  .contact-icons .icon {
    display: inline-block;
    background-color: #ffcf01;
    border-radius: 30%;
    padding: 10px;
  }
  
  .contact-icons .icon i {
    color: white;
    font-size: 18px;
  }
  